
    <div class="content">
        <div class="menu">
            <ul>
                <a href="/admin/manga/">
                    <li>
                        Quản lý truyện
                    </li>
                </a>
                <a href="/admin/categorys/">
                    <li>
                        Quản lý thể loại truyện
                    </li>
                </a>
                <a href="">
                    <li>
                        Quản lý nhân viên
                    </li>
                </a>
                <a href="">
                    <li>
                        Tạo phiếu mượn
                    </li>
                </a>
                <a href="">
                    <li>
                        Thống kê
                    </li>
                </a>
            </ul>
        </div>
        {{!-- Nội dung Trang --}}

        <div class="form-customer">
            <form action="" method="POST">
                <div>
                    <label for="">Email:</label>
                    <input type="text" name="emailCustomer" id="emailCustomer" class="txtInput"> 
                </div>
                <div>
                    <label for="">Tên khách hàng:</label>
                    <input type="text" name="nameCustomer" id="nameCustomer" class="txtInput"> 
                </div>
                <div>
                    <label for="">Số điện thoại: </label>
                    <input type="text" name="phoneCustomer" id="phoneCustomer" class="txtInput"> 
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-primary">Nhập</button>
                </div>
            </form>
        </div>
    </div>
    
