
<div class="content container-fluid">
    <div class="account-box mt-5">
        <div class="account-wrapper">
            <div class="alert alert-danger login fade" role="alert"></div>
            <h3 class="account-title">Login</h3>
            <p class="account-subtitle">Access to our dashboard</p>
            <!-- Account Form -->
            <form name="formLogIn" method="POST">
                <div class="form-group">
                    <label>Email Address</label>
                    <input  class="form-control" 
                            type="text"
                            name="email"
                            required>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Password</label>
                        </div>
                    </div>
                    <input  class="form-control" 
                            type="password"
                            name="password"
                            required>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary account-btn" type="submit">Login</button>
                </div>
                <div class="account-footer">
                    <p>Don't have an account yet? <a href="/register">Register</a></p>
                </div>
            </form>
            <!-- /Account Form -->
            
        </div>
    </div>

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var form = document.forms['formLogIn']
        var alertLogin = $('.alert.alert-danger.login')

        form.addEventListener("submit", async (e)=>{
            e.preventDefault()
            //reset error
            //emailError.text('')
            //passwordError.text('')
            // get the values
            const email = form.email.value
            const password = form.password.value
            alertLogin.text('')

            try{
                axios.post('/login',)
                const res = await fetch('/login',{
                    method: 'POST',
                    body: JSON.stringify({ email, password}),
                    headers: { "Content-Type": "application/json" }
                })\
                // axios
                axios.post('login',{formdata})
                const data = await res.json()
                if(data.errors){
                    alertLogin.removeClass("fade")
                    alertLogin.text(data.errors.email)
                }
                
                if(data.user){
                    location.assign('/')
                }
            }
            catch(err){
                console.log(err)
            }
        })
    })
</script>