
<div class="container mt-4">
    {{!-- Nội dung Trang --}}
    <div class="row manga">
        <div class="list-users mt-4">
        <div class="card-header">
            <h4 class="card-title mb-0">Danh sách người dùng</h4>
        </div>
        <div class="top mb-4">
            <form action="/admin/users/search" class="form-horizontal" >
                <input type="text" class="search-input " id="search" name="member" placeholder="Nhập số điện thoại 10 số">
                <button class="search-submit btn btn-success"  type="submit">Tìm</button>
            </form>
        </div>
        <div class="userlist">
            <table class="datatable table table-striped mb-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <td>Tên</td>
                        <td>Email</td>
                        <td>Số điện thoại</td>
                        <td>Hành động</td>
                    </tr>                    
                </thead>
                <tbody>
                    {{#each users}}
                        <tr>
                            <th>{{sum @index 1}}</th>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phone}}</td>
                            <td>
                                <a href="#" class="btn btn-purple">Xem phiếu thuê</a>
                            </td>
                        </tr> 
                    {{/each}} 
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
