<div class="container">
    <form action="/admin/insertmanga/" method="POST">
        <div class="form-group">
            <label for="tentruyen">Tên truyện</label>
            <input type="text" class="form-control" id="tentruyen" name="tentruyen">
        </div>

        <div class="form-group">
            <label for="theloai">Thể loại</label>
            <input type="text" class="form-control" id="theloai" name="theloai">
        </div>

        <div class="form-group">
            <label for="mota">Mô tả</label>
            <input type="text" class="form-control" id="mota" name="mota">
        </div>

        <div class="form-group">
            <label for="hinh">Hình</label>
            <input type="file" class="form-control" id="hinh" name="hinh">
        </div>

        <button type="submit" class="btn btn-outline-primary">Thêm</button>
        
    </form>
</div>