
<div class="content">
    <div class="menu">
        <ul>
            <a href="/admin/manga/">
                <li>
                    Quản lý truyện
                </li>
            </a>
            <a href="/admin/categorys/">
                <li>
                    Quản lý thể loại truyện
                </li>
            </a>
            <a href="">
                <li>
                    Quản lý nhân viên
                </li>
            </a>
            <a href="">
                <li>
                    Tạo phiếu mượn
                </li>
            </a>
            <a href="">
                <li>
                    Thống kê
                </li>
            </a>
        </ul>
    </div>
    {{!-- Nội dung trang  --}}
    <div class="info">
        <div class="create-manga">
            <form action="/admin/add" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nameManga">Tên truyện</label>
                    <input type="text" id="nameManga" name="nameManga" class="txtInput">
                </div>
                <div class="form-group">
                    <label for="avatarManga">Hình</label>
                    <input type="file"  id="avatarManga" name="avatarManga" class="txtInput">
                </div>
                <div class="form-group">
                    <label for="category">Thể loại: </label>
                    <div class="category">
                        {{#each categories}}
                            <label >{{this.tenloai}}</label>
                            <input type="checkbox"  name="category[]" value="{{this.tenloai}}" >
                        {{/each}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Mô tả</label>
                    <textarea id="description" name="description"></textarea>
                </div>
                {{!-- btn Submit form --}}
                <button type="submit" class="btn btn-outline-primary btn-create-manga">Thêm truyện</button>
            </form>
        </div>
    </div>
</div>
    

