
<form action="/admin/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nameManga">Tên truyện</label>
        <input type="text" id="nameManga" name="nameManga">
    </div>


    <div class="form-group">
        <label for="category">Thể loại</label>
        <input type="text"  id="category" name="category">
    </div>

    <div class="form-group">
        <label for="description">Mô tả</label>
        <input type="text" id="description" name="description">
    </div>

    <div class="form-group">
        <label for="avatarManga">Hình</label>
        <input type="file"  id="avatarManga" name="avatarManga">
    </div>

    <button type="submit" class="btn btn-outline-primary">Thêm</button>
</form>
