<div class="content">
    <div class="menu">
        <ul>
            <a href="/admin/manga/">
                <li>
                    Quản lý truyện
                </li>
            </a>
            <a href="/admin/categorys/">
                <li>
                    Quản lý thể loại truyện
                </li>
            </a>
            <a href="">
                <li>
                    Quản lý nhân viên
                </li>
            </a>
            <a href="">
                <li>
                    Tạo phiếu mượn
                </li>
            </a>
            <a href="">
                <li>
                    Thống kê
                </li>
            </a>
        </ul>
    </div>
    {{!-- Nội dung Trang --}}
    <div class="create-chapter-manga">
        <form action="/admin/manga/{{truyen.tentruyen}}/addChap" method="POST" enctype="multipart/form-data">
            <div class="nameManga">
                Tên truyện: {{truyen.tentruyen}}
            </div>
            
            <div class="nameChapter">
                <label for="chapter">Tên chap: </label>
                <input type="text" placeholder="Vd: chap01" name="chapter" >    
            </div>
            <div class="linkImg">
                <label for="imgOfManga">Hình ảnh trong chapter: </label>
                </br>
                <input type="file" name="imgOfManga" multiple>
            </div>
            <input type="submit" class="btn btn-outline-primary btn-create-chapter-manga" value="Thêm Chap mới">
        </form>
    </div>
</div>

