
<div class="cover">
    <div class="left">
        <img src="/img/{{truyen.hinh}}">
    </div>
    <div class="content">
        <h2 class="name">
            {{truyen.tentruyen}}
        </h2>
        <div class="info">
            <div class="category">Thể loại: {{truyen.theloai}}</div>
            <div class="status">Tình trạng: </div>
            <div class="author">Tác giả: </div>
            <div class="description">Mô tả:{{truyen.mota}} </div>
        </div>
    </div>
</div>
