<div class="details-manga-img">
    {{#each chapImg}}
            {{#each this.imgManga}}
                <img src="{{this.filePath}}" alt="{{this.fileName}}" width="100%" height="100%">
            {{/each}}
    {{/each}}
</div>