
    <div class="content">
        <div class="menu">
            <ul>
                <a href="">
                    <li>
                        Trang chủ
                    </li>
                </a>
                <a href="/admin/manga/">
                    <li>
                        Quản lý truyện
                    </li>
                </a>
                <a href="">
                    <li>
                        Quản lý nhân viên
                    </li>
                </a>
                <a href="">
                    <li>
                        Tạo phiếu mượn
                    </li>
                </a>
                <a href="">
                    <li>
                        Thống kê
                    </li>
                </a>
            </ul>
        </div>
    </div>