<div>
    {{#each all_img}}
        {{#each this}}
            {{#if imgBase64}}
                <div>
                    <h2>abc</h2>
                    <div>
                        {{all_img.tentruyen}}
                    </div>
                </div>
            {{/if}}
        {{/each}}    
    {{/each}}
</div>