<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form-test" method="POST" enctype="multipart/form-data">
        <input type="file" name="testimg" id="file-test"> 
        <button type="submit">Gui</button>
    </form>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        document.getElementById("form-test").addEventListener("submit", function (event){
            var postImgElement = document.getElementById("file-test").files
            console.log(postImgElement)
             let formData = new FormData()
            formData.append("testimg", postImgElement[0])
            axios.post("../admin/test",formData,{
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'multipart/form-data'
            }
        })

        })
    })
</script>