<div class="content">
    {{!-- Nội dung Trang --}}
    <div class="create-chapter-manga">
        <form action="/admin/manga/{{truyen.slug}}/addChap" method="POST" enctype="multipart/form-data">
            <div class="nameManga">
                Tên truyện: {{truyen.tentruyen}}
            </div>
            <div class="nameChapter">
                <label for="chapter">Tên chap: </label>
                <input type="text" placeholder="Vd: chap01" name="chapter" >    
            </div>
            <div class="linkImg">
                <label for="imgOfManga">Hình ảnh trong chapter: </label>
                </br>
                <input type="file" name="imgOfManga" multiple>
            </div>
            <input type="submit" class="btn btn-outline-primary btn-create-chapter-manga" value="Thêm Chap mới">
        </form>
    </div>
</div>