<div class="page-wrapper">
    <div class="content">
        <div class="rentals-create">
            <form action="/admin/manga/rentals/{{rentals.slug}}/addbook" method="POST" enctype="multipart/form-data">
                <div class="form-rental">
                    <label for="numberVol">Tập số:</label>
                    <input type="text" id="numberVol" name="numberVol" class="txtInputRentalSmall">

                    <label for="amount">Số lượng: </label>
                    <input type="text" id="amount" name="amount" class="txtInputRentalSmall">
                </div>
                <div class="form-rental">
                    <label >Ảnh bìa:</label>
                    <input type="file" name="avatarNumberVol">
                </div>
                <div class="form-rental">
                    <label for="price">Giá gốc: </label>
                    <input type="text" id="giagoc" name="giagoc" class="txtInputRental">
                </div>
                <div class="form-rental">
                    <label for="price">Giá thuê: </label>
                    <input type="text" id="giathue" name="giathue" class="txtInputRental">
                </div>
                <div class="form-rental">
                    <label for="price">Giá bìa: </label>
                    <input type="text" id="giabia" name="giabia" class="txtInputRental">
                </div>
                <div  class="form-rental">
                    <label for="author">Tác giả: </label>
                    <input type="text" id="author" name="author" class="txtInputRental">
                </div>
                <div class="form-rental">
                    <label for="publisher">Nhà xuất bản: </label>
                    <input type="text" id="publisher" name="publisher" class="txtInputRentalFull">
                </div>
                <div >
                    <button type="submit" class="btn btn-outline-success">Thêm truyện</button>
                </div>
            </form>
        </div>
    </div>
</div>