<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="#">Hidden brand</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Truyện cho thuê</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Thể loại</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Xem nhiều</a>
				</li>
			</ul>
			<div class="search">
				<form action="/search/">
					<input class="search-input" type="text" placeholder="Nhập nội dung" name="keywords" id="keywords">
					<button class="search-submit" type="submit" value="Tìm kiếm">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
			<div class="d-flex user">
				{{#if user}}
					<div class="follow-icon">
						<span>
							<i class="fas fa-heart"></i>
						</span>
					</div>
					<div class="noti-icon">
						<span>
							<i class="fas fa-bell"></i>
						</span>
					</div>
					<div class="user-icon">

					</div>
					<div class="">welcome, {{user.email}}</div>
					<a class="" style="text-decoration:none"  href="/logout">Đăng Xuất</a>
				{{else}}
					<a class="" style="text-decoration:none"  href="/login">Đăng nhập/</a>
					<a class="" style="text-decoration:none" href="/register">Đăng ký</a>
				{{/if}}
			</div>	
		</div>
	</div>
</nav>



