
<div class="top-bar">
	<div class="container">
		<div class="level">
			<div class="level-left">
				<span class="logo">
					<a href="/">TruyenDK</a>
				</span>
				<div class="top-search">
					<input type="text" class="text-search" placeholder="Nhập gì đó...">
					<button class="btn_search btn-submit"></button>
				</div>
			</div>
			<div class="level-right">
				<ul class="top-links">
					<li>
						<a href="/rental">Truyện cho thuê</a>
					</li>
					<li>
						<a href="/category">Thể loại</a>
					</li>
					<li>
						<a href="/cart">
							<span>
								<i class="fas fa-shopping-cart cart-item">
									{{#if (isdefined user.cart.totalItem)}}
										{{user.cart.totalItem}}
									{{else}}
										Giỏ hàng
									{{/if}}

								</i>
							</span>
						</a>
					</li>
				</ul>
				<div class="top-buttons has-login">
					{{#if user}}
						<a class="" style="text-decoration:none"  href="/logout">Đăng Xuất</a>
					{{else}}
						<button class="login-btn" >
							<a  style="text-decoration:none; color: white !important;" href="/login">Đăng nhập</a>
						</button>
						<button class="register-btn" >
							<a  style="text-decoration:none; color: white !important;" href="/register">Đăng ký</a>
						</button>
					{{/if }}
				</div>
			</div>
		</div>
	</div>
</div>


