

<!-- Header -->
	<div class="header">
		<!-- Logo -->
		<div class="header-left">
			<a href="index.html" class="logo">
				<img src="" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->
		<a id="toggle_btn" href="javascript:void(0);">
			<span class="bar-icon">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</a>
		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Admin TruyenDK</h3>
		</div>
		<!-- /Header Title -->
		
		<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
		
		<!-- Header Menu -->
		<ul class="nav user-menu">
		
			<!-- Search -->
			<li class="nav-item">
				<div class="top-nav-search">
					<a href="javascript:void(0);" class="responsive-search">
						<i class="fa fa-search"></i>
					</a>
					<form action="search.html">
						<input class="form-control" type="text" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</li>
			<!-- /Search -->
			<li class="nav-item has-arrow main-drop">
				{{#if user}}
					<div class="page-title-box">
						<span style="color:white">welcome,{{user.email}}</span>
						<a class="" href="/logout">Logout</a>
					</div>
				{{else}}
					<div class="page-title-box">
						<a href="/login">Login</a>
						<a href="/register">Register</a>
					</div>
					{{!-- <a href="/login">Login</a>
					<a href="/register">Register</a> --}}
				{{/if}}
			</li>
		</ul>
		<!-- /Header Menu -->
		
		
	</div>
<!-- /Header -->


