<div class="container">
    <div class="navbar">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Trang chủ</a>
                <a href="#" class="navbar-item">Thể loại</a>
                <a href="#" class="navbar-item">Thông báo</a>
                <a href="#" class="navbar-item">Truyện thuê</a>
                <a href="/listfollow" class="navbar-item">Truyện theo dõi</a>
                <a href="/history" class="navbar-item">Lịch sử truyện đọc</a>
            </div>
        </div>
    </div>
</div>