<div class="column is-narrow left pc">
    <ul class="nav-user">
        <li><a class="li01" href="/account">Quản lý tài khoản</a></li>
        <li><a class="li02 " href="/account/change-password">Đổi mật khẩu</a></li>
        
    </ul>
</div>