<!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title"> 
                        <span>Main</span>
                    </li>
                    {{!-- <li class="submenu">
                        <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a class="active" href="index.html">Admin Dashboard</a></li>
                            <li><a href="employee-dashboard.html">Employee Dashboard</a></li>
                        </ul>
                    </li> --}}
                    
                    
                    <li class="submenu">
                        <a href="#"><i class="la la-book"></i> <span>Quản lý truyện đọc</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/admin/manga">Danh sách truyện</a></li>
                            <li><a href="/admin/categorys">Danh sách Thể loại </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-book"></i> <span>Quản lý truyện thuê</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="../../admin/rentals">Danh sách truyện thuê</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-files-o"></i> <span>Quản lý phiêu thuê</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Danh sách phiêu thuê</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-users"></i> <span>Quản lý người dùng</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="../admin/users">Danh sách người dùng</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- /Sidebar -->