<!-- Page Content -->
<div class="container mt-4">
    <div class="latest">
        <div class="caption">
            <a href="#">
                <span><i class="fas fa-star"></i></span>
                "Danh sách truyện cho thuê"
            </a>
        </div>

    </div>
</div>
<div class="container">
    <div class="latest">
        <ul class="list-manga grid-6">
            {{#rentals}}
                <li>
                    <div class="manga-item">
                        <a href="/rental/{{slug}}"> <img src="/img/{{image}}" alt="#"></a>
                        <h4 class="title-book">
                            <p href="#">Tên Truyện: {{nameManga}}</p>
                        </h4>
                        <p href="#">Tổng số tập:{{books.length}}</p>
                    </div>
                </li>
            {{/rentals}}
        </ul>
    </div>
</div>
