<div class="container">
    <div class="cover">
        <div class="left">
            <img src="https://i.pinimg.com/236x/ff/df/4e/ffdf4edc47c7c2675101a6eeedca1e53.jpg">
        </div>
        <div class="content">
            <h2 class="name">
                {{truyen.tentruyen}}
            </h2>
            <div class="info">
                <div class="category">Thể loại: {{truyen.theloai}}</div>
                <div class="status">Tình trạng: {{truyen.tinhtrang}}</div>
                <div class="author">Tác giả: </div>
                <div class="description">Mô tả: </div>
            </div>
        </div>
    </div>
</div>