<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form id="form-test" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" name="title" class="form-control" >
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="">Upload file</label>
                    <input type="file" name="post-img" id="post-img">
                </div>
                <div class="form-group">
                    <label for="">Content</label>
                    <textarea name="content"class="form-control"></textarea>
                </div>
                <input type="submit" class="btn btn-info mt-2 mb-2 float-right" value="POST">
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (){
        console.log($('#post-img'))
        $('#post-img').change( function()
        {   
            var haha = $(this).val()
            console.log(haha.slice(12));
        })
        document.getElementById("form-test").addEventListener("submit", function (event) {
        event.preventDefault()
        var titleElement = this.querySelector('input[name="title"]').value
        var contentElement = this.querySelector('textarea[name="content"]').value
        var postImgElement = document.getElementById("post-img").files
        let formData = new FormData();
        formData.append("title", titleElement);
        formData.append("content", contentElement);
        formData.append("imgPost", postImgElement[0])
        console.log(formData)
        axios.post("/postPost",formData,{
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'multipart/form-data'
            }
        })
        .then(function (res) {
            alert(res.data.message)
            console.log(res.data)   
            // socket
            var data = res.data
            var socket = io()
            socket.emit("new_post", data)
        })
        .catch(function (err) {
            console.log(err)
        })
    })
    })
    
</script>